<div class="four columns page" id="page<%= page.id %>">
  <div class="button button-primary u-full-width"><%= page.data.title %></div>
  <table class="u-full-width">
    <tbody>
      <tr>
        <td>
          Price Net
        </td>
        <td>
          <%= page.data.price_net %>
        </td>
      </tr>
      <tr>
        <td>
          Price Vat
        </td>
        <td>
          <%= page.data.price_vat %>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
          <th>
            Price Gross
          </th>
          <th>
            <%= page.data.price_gross %>
          </th>
        </tr>
    </tfoot>
  </table>
  <%= link_to 'Remove', scrapper_path(id: page.id), method: :delete, remote: true, class: "button u-full-width" %>
</div>

